<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1,41},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_10f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,265},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_1d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,565},{46,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_1f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{49,571},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_1l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,595},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_1p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{47,601},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_20f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{65,131},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_2d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{75,41},{50,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_2f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{75,101},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_2l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{59,421},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_2p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,445},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_3d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{50,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{75,71},{50,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_50f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,151},{62,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_5f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{51,451},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_5l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,475},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_5p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{51,481},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_8f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,505},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{95,571},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_tip_b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{51,511},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,34}</string>
                <key>spriteSourceSize</key>
                <string>{62,34}</string>
                <key>textureRect</key>
                <string>{{1,115},{62,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{59,271},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_bmp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{65,161},{62,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,38}</string>
                <key>spriteSourceSize</key>
                <string>{126,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_fd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,295},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_gl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{59,301},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_gp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,325},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_gz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{59,331},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{47,631},{31,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>end_tip_jg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,355},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_jt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{59,361},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_mdm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{65,187},{60,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_mq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,385},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,625},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_p2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,535},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_p3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{51,541},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_pt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{59,391},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,31}</string>
                <key>spriteSourceSize</key>
                <string>{33,31}</string>
                <key>textureRect</key>
                <string>{{93,603},{33,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_qgh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,207},{60,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_sby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{63,213},{60,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_tp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,30}</string>
                <key>textureRect</key>
                <string>{{1,233},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_xs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,28}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,415},{56,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_xst.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,24}</string>
                <key>spriteSourceSize</key>
                <string>{62,28}</string>
                <key>textureRect</key>
                <string>{{1,181},{62,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end_tip_zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{58,30}</string>
                <key>textureRect</key>
                <string>{{61,239},{58,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>small.png</string>
            <key>size</key>
            <string>{128,663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d286e0cf082e035c6bdebf95b7c26e6:ee88125347e06ecbdaf4a6239477ed91:f201e7d3bf7f17b70520e53250e1ae4f$</string>
            <key>textureFileName</key>
            <string>small.png</string>
        </dict>
    </dict>
</plist>
