<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_event_effect_bzb/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,124},{268,120}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{268,120}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{270,132}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{270,132}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{270,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{270,138}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,148}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{272,148}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{270,144}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{270,144}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{266,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{266,140}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{268,136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{268,136}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{268,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{268,120}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,152},{270,78}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{270,78}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
            <key>mj_event_effect_bzb/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{268,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,35},{268,82}}</string>
                <key>sourceSize</key>
                <string>{280,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_event_effect_bzb.png</string>
            <key>size</key>
            <string>{1900,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39b7337cb940cb38b830d2a6fb29c8b7:1/1$</string>
            <key>textureFileName</key>
            <string>mj_event_effect_bzb.png</string>
        </dict>
    </dict>
</plist>
