<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_event_effect_fh/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1688},{254,166}}</string>
                <key>offset</key>
                <string>{-147,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,75},{254,166}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1688},{280,172}}</string>
                <key>offset</key>
                <string>{-130,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,75},{280,172}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,738},{366,286}}</string>
                <key>offset</key>
                <string>{-89,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,56},{366,286}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{366,286}}</string>
                <key>offset</key>
                <string>{-68,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,56},{366,286}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,370},{366,286}}</string>
                <key>offset</key>
                <string>{-45,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,57},{366,286}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{366,286}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,57},{366,286}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{288,182}}</string>
                <key>offset</key>
                <string>{-21,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,92},{288,182}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{366,298}}</string>
                <key>offset</key>
                <string>{24,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,47},{366,298}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,308}}</string>
                <key>offset</key>
                <string>{47,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,48},{366,308}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{320,294}}</string>
                <key>offset</key>
                <string>{49,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,48},{320,294}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/011.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1106},{312,300}}</string>
                <key>offset</key>
                <string>{40,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,47},{312,300}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{306,284}}</string>
                <key>offset</key>
                <string>{40,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,61},{306,284}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/013.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1408},{298,278}}</string>
                <key>offset</key>
                <string>{47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,62},{298,278}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
            <key>mj_event_effect_fh/014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1688},{280,280}}</string>
                <key>offset</key>
                <string>{45,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,58},{280,280}}</string>
                <key>sourceSize</key>
                <string>{600,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_event_effect_fh.png</string>
            <key>size</key>
            <string>{658,1970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12e1077613b6e65f50e79f2ec15bd649:1/1$</string>
            <key>textureFileName</key>
            <string>mj_event_effect_fh.png</string>
        </dict>
    </dict>
</plist>
