<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_over_view_coin/avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,833},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>mj_over_view_coin/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{519,550}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,550}}</string>
                <key>sourceSize</key>
                <string>{519,550}</string>
            </dict>
            <key>mj_over_view_coin/bg_xinyang.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,976},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>mj_over_view_coin/bt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,554},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>mj_over_view_coin/bt_change_desk.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,554},{176,64}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,94}</string>
            </dict>
            <key>mj_over_view_coin/bt_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,554},{232,64}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,94}</string>
            </dict>
            <key>mj_over_view_coin/bt_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,937},{176,64}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,64}}</string>
                <key>sourceSize</key>
                <string>{176,94}</string>
            </dict>
            <key>mj_over_view_coin/bt_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,596},{84,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,32}}</string>
                <key>sourceSize</key>
                <string>{84,32}</string>
            </dict>
            <key>mj_over_view_coin/btn_psq.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,848},{126,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,66}}</string>
                <key>sourceSize</key>
                <string>{126,66}</string>
            </dict>
            <key>mj_over_view_coin/icon_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,788},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>mj_over_view_coin/icon_dianpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,848},{126,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,38}}</string>
                <key>sourceSize</key>
                <string>{126,38}</string>
            </dict>
            <key>mj_over_view_coin/icon_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,554},{92,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>mj_over_view_coin/icon_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,788},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>mj_over_view_coin/line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,1}}</string>
                <key>sourceSize</key>
                <string>{1000,1}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/-.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,991},{32,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{32,10}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,742},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,976},{19,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,38}}</string>
                <key>sourceSize</key>
                <string>{19,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,735},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,630},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,658},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,662},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,784},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,626},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,693},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,662},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/d.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,833},{13,12}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,40}</string>
            </dict>
            <key>mj_over_view_coin/number_lose/w.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,620},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/+.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,937},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,700},{31,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,40}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,976},{19,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{19,38}}</string>
                <key>sourceSize</key>
                <string>{19,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,778},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,736},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,620},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,662},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,742},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,594},{30,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,38}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,694},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,700},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/d.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,976},{13,12}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{13,12}}</string>
                <key>sourceSize</key>
                <string>{13,40}</string>
            </dict>
            <key>mj_over_view_coin/number_win/w.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,788},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>mj_over_view_coin/other_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,554},{25,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,292}}</string>
                <key>sourceSize</key>
                <string>{25,292}</string>
            </dict>
            <key>mj_over_view_coin/zhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,554},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_over_view_coin.png</string>
            <key>size</key>
            <string>{526,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ce4c38b1ab6374389fc44e671724c6c:1/1$</string>
            <key>textureFileName</key>
            <string>mj_over_view_coin.png</string>
        </dict>
    </dict>
</plist>
