<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_res_s9/card/end_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,282},{92,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,38}}</string>
                <key>sourceSize</key>
                <string>{96,38}</string>
            </dict>
            <key>mj_res_s9/hu_pai_tips/bg_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,2},{76,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,166}}</string>
                <key>sourceSize</key>
                <string>{76,166}</string>
            </dict>
            <key>mj_res_s9/last_card/icon_3d.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,262},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,40}}</string>
                <key>sourceSize</key>
                <string>{29,40}</string>
            </dict>
            <key>mj_res_s9/settle/pic_mjicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,216},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,44}}</string>
                <key>sourceSize</key>
                <string>{34,44}</string>
            </dict>
            <key>mj_res_s9/table/bubble_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,304},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>mj_res_s9/table/hu_pai_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,170},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mj_res_s9/table/hu_pai_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,267},{13,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,44}}</string>
                <key>sourceSize</key>
                <string>{13,44}</string>
            </dict>
            <key>mj_res_s9/table/hu_pai_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,252},{13,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,44}}</string>
                <key>sourceSize</key>
                <string>{13,44}</string>
            </dict>
            <key>mj_res_s9/table/hu_pai_bg_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,216},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>mj_res_s9/table/hu_pai_bg_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,170},{30,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,44}}</string>
                <key>sourceSize</key>
                <string>{30,44}</string>
            </dict>
            <key>mj_res_s9/table/tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1083,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1083,10}}</string>
                <key>sourceSize</key>
                <string>{1083,10}</string>
            </dict>
            <key>mj_res_s9/table/trust_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,304},{8,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,285}}</string>
                <key>sourceSize</key>
                <string>{8,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_res_s9.png</string>
            <key>size</key>
            <string>{92,1087}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b061116d15c75ea746acb21b89e6fd6:1/1$</string>
            <key>textureFileName</key>
            <string>mj_res_s9.png</string>
        </dict>
    </dict>
</plist>
