<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj/avatar/banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1017},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>mj/avatar/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,257},{38,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,86}}</string>
                <key>sourceSize</key>
                <string>{38,86}</string>
            </dict>
            <key>mj/avatar/ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,758},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>mj/avatar/ting_tcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,960},{55,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,36}}</string>
                <key>sourceSize</key>
                <string>{55,36}</string>
            </dict>
            <key>mj/avatar/weak_wifi.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,406},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>mj/bu_hua/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,534},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>mj/bu_hua/dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,380},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>mj/event/btn_event_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1175},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mj/event/btn_event_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1316},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mj/event/btn_event_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mj/event/btn_event_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1192},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mj/event/btn_event_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1050},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mj/event/btn_event_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mj/event/btn_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,916},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>mj/event/effect_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{212,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,168}}</string>
                <key>sourceSize</key>
                <string>{212,168}</string>
            </dict>
            <key>mj/event/effect_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{212,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,168}}</string>
                <key>sourceSize</key>
                <string>{212,168}</string>
            </dict>
            <key>mj/event/info_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1317},{140,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,136}}</string>
                <key>sourceSize</key>
                <string>{140,136}</string>
            </dict>
            <key>mj/event/info_effect_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,601},{100,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,117}}</string>
                <key>sourceSize</key>
                <string>{100,117}</string>
            </dict>
            <key>mj/event/info_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1030},{143,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,125}}</string>
                <key>sourceSize</key>
                <string>{143,125}</string>
            </dict>
            <key>mj/event/info_effect_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{149,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,140}}</string>
                <key>sourceSize</key>
                <string>{149,140}</string>
            </dict>
            <key>mj/event/info_effect_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{130,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,154}}</string>
                <key>sourceSize</key>
                <string>{130,154}</string>
            </dict>
            <key>mj/event/info_effect_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,909},{139,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,156}}</string>
                <key>sourceSize</key>
                <string>{139,156}</string>
            </dict>
            <key>mj/event/info_effect_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,298},{178,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,119}}</string>
                <key>sourceSize</key>
                <string>{178,119}</string>
            </dict>
            <key>mj/event/info_effect_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,204},{169,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,92}}</string>
                <key>sourceSize</key>
                <string>{169,92}</string>
            </dict>
            <key>mj/event/pic_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1192},{62,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,72}}</string>
                <key>sourceSize</key>
                <string>{62,72}</string>
            </dict>
            <key>mj/hu_pai_tips/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,297},{80,108}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{80,108}}</string>
                <key>sourceSize</key>
                <string>{88,116}</string>
            </dict>
            <key>mj/hu_pai_tips/info_nhsyp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{196,36}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{196,36}}</string>
                <key>sourceSize</key>
                <string>{208,38}</string>
            </dict>
            <key>mj/hu_pai_tips/slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,126},{2,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,20}}</string>
                <key>sourceSize</key>
                <string>{2,20}</string>
            </dict>
            <key>mj/over_view/bg_chair_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1123},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>mj/over_view/bg_countdown.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,86},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mj/over_view/bg_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,832},{36,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,126}}</string>
                <key>sourceSize</key>
                <string>{36,126}</string>
            </dict>
            <key>mj/over_view/bg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{47,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,226}}</string>
                <key>sourceSize</key>
                <string>{47,226}</string>
            </dict>
            <key>mj/over_view/btn_bjjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,731},{192,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,76}}</string>
                <key>sourceSize</key>
                <string>{192,76}</string>
            </dict>
            <key>mj/over_view/btn_fhzm.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,653},{192,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,76}}</string>
                <key>sourceSize</key>
                <string>{192,76}</string>
            </dict>
            <key>mj/over_view/btn_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,575},{192,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,76}}</string>
                <key>sourceSize</key>
                <string>{192,76}</string>
            </dict>
            <key>mj/over_view/btn_hdly.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,160},{95,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{95,93}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>mj/over_view/btn_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,497},{192,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,76}}</string>
                <key>sourceSize</key>
                <string>{192,76}</string>
            </dict>
            <key>mj/over_view/btn_jx.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,419},{192,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,76}}</string>
                <key>sourceSize</key>
                <string>{192,76}</string>
            </dict>
            <key>mj/over_view/btn_mj_zjtj.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,407},{192,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,76}}</string>
                <key>sourceSize</key>
                <string>{192,76}</string>
            </dict>
            <key>mj/over_view/end_tip_dp.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1042},{68,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{68,30}}</string>
                <key>sourceSize</key>
                <string>{96,38}</string>
            </dict>
            <key>mj/over_view/end_tip_tp.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1055},{66,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{66,30}}</string>
                <key>sourceSize</key>
                <string>{96,38}</string>
            </dict>
            <key>mj/over_view/end_tip_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,972},{68,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{68,30}}</string>
                <key>sourceSize</key>
                <string>{96,38}</string>
            </dict>
            <key>mj/over_view/info_effect_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,720},{194,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,116}}</string>
                <key>sourceSize</key>
                <string>{194,116}</string>
            </dict>
            <key>mj/over_view/info_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{170,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,102}}</string>
                <key>sourceSize</key>
                <string>{170,102}</string>
            </dict>
            <key>mj/over_view/info_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,809},{168,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{168,98}}</string>
                <key>sourceSize</key>
                <string>{170,102}</string>
            </dict>
            <key>mj/over_view/info_lj.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,106},{172,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,96}}</string>
                <key>sourceSize</key>
                <string>{172,96}</string>
            </dict>
            <key>mj/over_view/lose_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{336,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,40}}</string>
                <key>sourceSize</key>
                <string>{336,40}</string>
            </dict>
            <key>mj/over_view/timing_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{260,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,38}}</string>
                <key>sourceSize</key>
                <string>{260,38}</string>
            </dict>
            <key>mj/over_view/win_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,40}}</string>
                <key>sourceSize</key>
                <string>{336,40}</string>
            </dict>
            <key>mj/table/btn_ks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{238,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>mj/table/bubble_difen.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,486},{46,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,22}}</string>
                <key>sourceSize</key>
                <string>{46,22}</string>
            </dict>
            <key>mj/table/bubble_last_count_fnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{224,23}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{224,23}}</string>
                <key>sourceSize</key>
                <string>{234,25}</string>
            </dict>
            <key>mj/table/bubble_time_fnt.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,809},{161,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{161,18}}</string>
                <key>sourceSize</key>
                <string>{169,20}</string>
            </dict>
            <key>mj/table/effect_poniter.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1112},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>mj/table/robot_0_bt_2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1306},{135,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,62}}</string>
                <key>sourceSize</key>
                <string>{135,62}</string>
            </dict>
            <key>mj/table/robot_1_bt_2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1317},{135,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,62}}</string>
                <key>sourceSize</key>
                <string>{135,62}</string>
            </dict>
            <key>mj/table/ting_bt_2d.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1256},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,67}}</string>
                <key>sourceSize</key>
                <string>{66,67}</string>
            </dict>
            <key>mj/table/trust_cancel_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{238,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,88}}</string>
                <key>sourceSize</key>
                <string>{238,88}</string>
            </dict>
            <key>mj/team/btn_playinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1324},{102,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,62}}</string>
                <key>sourceSize</key>
                <string>{102,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_res.png</string>
            <key>size</key>
            <string>{512,1458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d2fd1a6b6fb44a82a5f64ee4f537cd:1/1$</string>
            <key>textureFileName</key>
            <string>mj_res.png</string>
        </dict>
    </dict>
</plist>
