<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_res_3d/avatar_sprite/avatar_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,187},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>mj_res_3d/avatar_sprite/avatar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,187},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>mj_res_3d/avatar_sprite/player_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,163},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mj_res_3d/avatar_sprite/player_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,117},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mj_res_3d/avatar_sprite/wanjia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,187},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>mj_res_3d/middle_disc/JX_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{174,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,53}}</string>
                <key>sourceSize</key>
                <string>{174,53}</string>
            </dict>
            <key>mj_res_3d/middle_disc/JX_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,2},{174,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,53}}</string>
                <key>sourceSize</key>
                <string>{174,53}</string>
            </dict>
            <key>mj_res_3d/middle_disc/WL_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,2},{174,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,53}}</string>
                <key>sourceSize</key>
                <string>{174,53}</string>
            </dict>
            <key>mj_res_3d/middle_disc/WL_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{174,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,53}}</string>
                <key>sourceSize</key>
                <string>{174,53}</string>
            </dict>
            <key>mj_res_3d/middle_disc/XY_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,183},{174,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,53}}</string>
                <key>sourceSize</key>
                <string>{174,53}</string>
            </dict>
            <key>mj_res_3d/middle_disc/XY_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,187},{174,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,53}}</string>
                <key>sourceSize</key>
                <string>{174,53}</string>
            </dict>
            <key>mj_res_3d/middle_disc/edging.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{183,673}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,673}}</string>
                <key>sourceSize</key>
                <string>{183,673}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_dir_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,242},{141,43}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,82},{141,43}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_dir_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,2},{45,113}}</string>
                <key>offset</key>
                <string>{-52,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{45,113}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_dir_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,242},{137,39}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{137,39}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_dir_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,238},{45,115}}</string>
                <key>offset</key>
                <string>{52,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,7},{45,115}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_element_gamecenterbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{179,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,145}}</string>
                <key>sourceSize</key>
                <string>{179,145}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_feng_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,209},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_feng_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,209},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_feng_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,251},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_feng_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,178},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,25}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_logo_majiang_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{369,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,283}}</string>
                <key>sourceSize</key>
                <string>{369,283}</string>
            </dict>
            <key>mj_res_3d/middle_disc/img_logo_majiang_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,283}}</string>
                <key>sourceSize</key>
                <string>{369,283}</string>
            </dict>
            <key>mj_res_3d/middle_disc/zhongkong_t_shuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,251},{320,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,32}}</string>
                <key>sourceSize</key>
                <string>{320,32}</string>
            </dict>
            <key>mj_res_3d/table/robot_0_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,187},{135,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,62}}</string>
                <key>sourceSize</key>
                <string>{135,62}</string>
            </dict>
            <key>mj_res_3d/table/robot_1_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,187},{135,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,62}}</string>
                <key>sourceSize</key>
                <string>{135,62}</string>
            </dict>
            <key>mj_res_3d/table/ting_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,187},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{48,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_res_3d.png</string>
            <key>size</key>
            <string>{1833,287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:810e751566f9d6ebebdd208592ffc761:1/1$</string>
            <key>textureFileName</key>
            <string>mj_res_3d.png</string>
        </dict>
    </dict>
</plist>
