<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_res_2/dice/sezi_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,162},{138,92}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{138,92}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,154},{124,116}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{124,116}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,2},{128,124}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{128,124}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,2},{152,118}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{152,118}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,154},{128,114}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,8},{128,114}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{102,124}}</string>
                <key>offset</key>
                <string>{-23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,124}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,154},{124,98}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,31},{124,98}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,105},{100,92}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{100,92}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_s_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,226},{76,92}}</string>
                <key>offset</key>
                <string>{-39,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{76,92}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,224},{74,76}}</string>
                <key>offset</key>
                <string>{-26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{74,76}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,234},{86,68}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,59},{86,68}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1629,207},{88,92}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,25},{88,92}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,120},{106,108}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{106,108}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,120},{92,102}}</string>
                <key>offset</key>
                <string>{-28,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{92,102}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,103},{80,98}}</string>
                <key>offset</key>
                <string>{-28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{80,98}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,120},{104,94}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{104,94}}</string>
                <key>sourceSize</key>
                <string>{154,134}</string>
            </dict>
            <key>mj_res_2/dice/sezi_value1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,235},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>mj_res_2/dice/sezi_value2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,233},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{51,60}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>mj_res_2/dice/sezi_value3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,216},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{51,60}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>mj_res_2/dice/sezi_value4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,157},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>mj_res_2/dice/sezi_value5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1970,171},{55,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,60}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>mj_res_2/dice/sezi_value6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,171},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>mj_res_2/ding_que/btn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,162},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{132,136}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mj_res_2/ding_que/btn_light_shang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1039,2},{122,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{122,124}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>mj_res_2/ding_que/dq_btn_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>mj_res_2/ding_que/dq_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>mj_res_2/ding_que/dq_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>mj_res_2/ding_que/dq_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1979,125},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mj_res_2/ding_que/dq_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,79},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mj_res_2/ding_que/dq_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,188},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mj_res_2/ding_que/icon_biaoji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,230},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mj_res_2/ding_que/icon_biaoji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,49},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>mj_res_2/ding_que/icon_biaoji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>mj_res_2/ding_que/info_ddqtwjxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,2},{328,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,45}}</string>
                <key>sourceSize</key>
                <string>{328,45}</string>
            </dict>
            <key>mj_res_2/ding_que/info_dot_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,287},{11,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,12}}</string>
                <key>sourceSize</key>
                <string>{11,12}</string>
            </dict>
            <key>mj_res_2/ding_que/info_dxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{101,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,39}}</string>
                <key>sourceSize</key>
                <string>{101,39}</string>
            </dict>
            <key>mj_res_2/ding_que/info_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,156},{129,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{129,120}}</string>
                <key>sourceSize</key>
                <string>{129,140}</string>
            </dict>
            <key>mj_res_2/ding_que/info_effect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,162},{130,132}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{130,132}}</string>
                <key>sourceSize</key>
                <string>{130,140}</string>
            </dict>
            <key>mj_res_2/ding_que/info_effect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,162},{103,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,140}}</string>
                <key>sourceSize</key>
                <string>{103,140}</string>
            </dict>
            <key>mj_res_2/ding_que/info_qym.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{230,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,36}}</string>
                <key>sourceSize</key>
                <string>{230,36}</string>
            </dict>
            <key>mj_res_2/ding_que/info_yxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,103},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{102,38}</string>
            </dict>
            <key>mj_res_2/last_card/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1989,2},{75,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,39}}</string>
                <key>sourceSize</key>
                <string>{75,39}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,280},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,280},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,280},{19,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,27}}</string>
                <key>sourceSize</key>
                <string>{19,27}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,284},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,132},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,26}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,284},{18,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,27}}</string>
                <key>sourceSize</key>
                <string>{18,27}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,280},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,280},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,26}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,132},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,132},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,132},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,280},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1193,280},{19,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,28}}</string>
                <key>sourceSize</key>
                <string>{19,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,284},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,210},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,26}}</string>
                <key>sourceSize</key>
                <string>{21,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,284},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,132},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,280},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,188},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/last_card/number_syp1/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,234},{20,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,28}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>mj_res_2/setting/card_color_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,103},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>mj_res_2/setting/card_color_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,103},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>mj_res_2/setting/card_color_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,49},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>mj_res_2/setting/card_color_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,49},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>mj_res_2/setting/card_color_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,49},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>mj_res_2/setting/card_color_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,49},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>mj_res_2/setting/card_color_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,230},{52,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{52,65}</string>
            </dict>
            <key>mj_res_2/tips_start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,2},{349,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,116}}</string>
                <key>sourceSize</key>
                <string>{349,116}</string>
            </dict>
            <key>mj_res_2/turntable/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,207},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mj_res_2/turntable/dir_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,128},{78,24}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{78,24}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mj_res_2/turntable/dir_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,162},{24,80}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,4},{24,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mj_res_2/turntable/dir_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,128},{78,24}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,63},{78,24}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mj_res_2/turntable/dir_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,128},{24,78}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{24,78}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>mj_res_2/turntable/dir_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,287},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>mj_res_2/turntable/dir_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,287},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>mj_res_2/turntable/dir_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,287},{21,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,13}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>mj_res_2/turntable/dir_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,287},{21,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,11}}</string>
                <key>sourceSize</key>
                <string>{21,13}</string>
            </dict>
            <key>mj_res_2/turntable/rule_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,203},{34,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,86}}</string>
                <key>sourceSize</key>
                <string>{34,86}</string>
            </dict>
            <key>mj_res_2/turntable/rule_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,247}}</string>
                <key>sourceSize</key>
                <string>{256,247}</string>
            </dict>
            <key>mj_res_2/turntable/rule_logo_JX.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,260},{114,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{114,41}}</string>
                <key>sourceSize</key>
                <string>{118,41}</string>
            </dict>
            <key>mj_res_2/turntable/rule_logo_WL.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,260},{118,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,41}}</string>
                <key>sourceSize</key>
                <string>{118,41}</string>
            </dict>
            <key>mj_res_2/turntable/rule_logo_XY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,154},{118,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{118,37}}</string>
                <key>sourceSize</key>
                <string>{118,41}</string>
            </dict>
            <key>mj_res_2/turntable/rule_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{158,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{158,22}}</string>
                <key>sourceSize</key>
                <string>{160,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_res_2.png</string>
            <key>size</key>
            <string>{2030,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a96ceff01880564b6b7be5c95f486f59:1/1$</string>
            <key>textureFileName</key>
            <string>mj_res_2.png</string>
        </dict>
    </dict>
</plist>
