<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_record/bg_mj.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{384,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,216}}</string>
                <key>sourceSize</key>
                <string>{384,216}</string>
            </dict>
            <key>mj_record/btn_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,388},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>mj_record/btn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,448},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>mj_record/jixiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,534},{158,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,50}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>mj_record/pic_bg_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,668}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,668}}</string>
                <key>sourceSize</key>
                <string>{530,668}</string>
            </dict>
            <key>mj_record/pic_bu.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,534},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>mj_record/pic_fzbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,534},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>mj_record/pic_hy.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,388},{58,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{58,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>mj_record/pic_pyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,492},{76,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{76,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>mj_record/pic_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,534},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>mj_record/pic_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,534},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>mj_record/pic_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,534},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>mj_record/pic_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{530,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,84}}</string>
                <key>sourceSize</key>
                <string>{530,84}</string>
            </dict>
            <key>mj_record/pic_top_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,534},{104,18}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,18}}</string>
                <key>sourceSize</key>
                <string>{106,18}</string>
            </dict>
            <key>mj_record/pic_top_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,568},{92,16}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{92,16}}</string>
                <key>sourceSize</key>
                <string>{106,18}</string>
            </dict>
            <key>mj_record/pixels_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,582},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>mj_record/weile.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,534},{158,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,50}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>mj_record/xinyue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{158,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,50}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj_record_res.png</string>
            <key>size</key>
            <string>{976,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a507486dfb11bf7326abe6a9bd890524:1/1$</string>
            <key>textureFileName</key>
            <string>mj_record_res.png</string>
        </dict>
    </dict>
</plist>
