<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_8-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,150},{92,146}}</string>
                <key>offset</key>
                <string>{27,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,0},{92,146}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>expression_8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{130,136}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{130,136}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>expression_8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,140},{146,114}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{146,114}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>expression_8-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{142,146}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{142,146}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>expression_8-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,178}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{126,178}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>expression_8-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,66},{62,200}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{62,200}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>expression_8-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{58,200}}</string>
                <key>offset</key>
                <string>{-25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,13},{58,200}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>expression_8-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{62,200}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{62,200}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
            <key>expression_8-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{62,200}}</string>
                <key>offset</key>
                <string>{-24,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,13},{62,200}}</string>
                <key>sourceSize</key>
                <string>{176,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_8.png</string>
            <key>size</key>
            <string>{668,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f5641a73a92e6ac4dc1b9172d2936a3:1/1$</string>
            <key>textureFileName</key>
            <string>expression_8.png</string>
        </dict>
    </dict>
</plist>
