<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_13-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{156,110}}</string>
                <key>offset</key>
                <string>{36,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,56},{156,110}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,118}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{236,118}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{118,132}}</string>
                <key>offset</key>
                <string>{-63,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{118,132}}</string>
                <key>offset</key>
                <string>{-63,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{118,132}}</string>
                <key>offset</key>
                <string>{-63,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{118,132}}</string>
                <key>offset</key>
                <string>{-63,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{238,110}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,56},{238,110}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1776},{52,66}}</string>
                <key>offset</key>
                <string>{-96,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{52,66}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1438},{76,90}}</string>
                <key>offset</key>
                <string>{-84,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,90}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{76,128}}</string>
                <key>offset</key>
                <string>{-84,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,128}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1516},{86,128}}</string>
                <key>offset</key>
                <string>{-79,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,128}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{104,128}}</string>
                <key>offset</key>
                <string>{-70,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,128}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{104,132}}</string>
                <key>offset</key>
                <string>{-70,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
            <key>expression_13-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{104,132}}</string>
                <key>offset</key>
                <string>{-70,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{244,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_13.png</string>
            <key>size</key>
            <string>{122,1830}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e000d5bb3da69ea92d87b5d055ae6941:1/1$</string>
            <key>textureFileName</key>
            <string>expression_13.png</string>
        </dict>
    </dict>
</plist>
