<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_15-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{78,94}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,45},{78,94}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{100,98}}</string>
                <key>offset</key>
                <string>{-20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{100,98}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{104,136}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,136}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,136},{118,188}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,188}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,108},{104,108}}</string>
                <key>offset</key>
                <string>{-27,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{84,152}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{84,152}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{110,142}}</string>
                <key>offset</key>
                <string>{-23,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{110,142}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,114},{116,134}}</string>
                <key>offset</key>
                <string>{-18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{116,134}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,130},{106,176}}</string>
                <key>offset</key>
                <string>{-24,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{106,176}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{152,126}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{152,126}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{132,172}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{132,172}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,166}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{140,166}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
            <key>expression_15-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,108},{118,108}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{118,108}}</string>
                <key>sourceSize</key>
                <string>{162,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_15.png</string>
            <key>size</key>
            <string>{934,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17875e5e573b5a66f361af6f98ef81dc:1/1$</string>
            <key>textureFileName</key>
            <string>expression_15.png</string>
        </dict>
    </dict>
</plist>
