<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_9-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{114,144}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{114,144}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{114,144}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{114,144}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{144,138}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,32},{144,138}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{144,136}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{144,136}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1312},{144,128}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{144,128}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{184,166}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{184,166}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{208,192}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{208,192}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,206}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{222,206}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{214,190}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{214,190}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
            <key>expression_9-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{212,194}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{212,194}}</string>
                <key>sourceSize</key>
                <string>{224,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_9.png</string>
            <key>size</key>
            <string>{210,1674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f2dc2e7f03e34a724e74de0f8ebb35b:1/1$</string>
            <key>textureFileName</key>
            <string>expression_9.png</string>
        </dict>
    </dict>
</plist>
