<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_3-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{95,96}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{95,96}}</string>
                <key>sourceSize</key>
                <string>{159,184}</string>
            </dict>
            <key>expression_3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{87,84}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,30},{87,84}}</string>
                <key>sourceSize</key>
                <string>{159,184}</string>
            </dict>
            <key>expression_3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{131,134}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{131,134}}</string>
                <key>sourceSize</key>
                <string>{159,184}</string>
            </dict>
            <key>expression_3-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{159,172}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,172}}</string>
                <key>sourceSize</key>
                <string>{159,184}</string>
            </dict>
            <key>expression_3-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{123,148}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{123,148}}</string>
                <key>sourceSize</key>
                <string>{159,184}</string>
            </dict>
            <key>expression_3-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,138},{121,102}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,59},{121,102}}</string>
                <key>sourceSize</key>
                <string>{159,184}</string>
            </dict>
            <key>expression_3-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,138},{121,102}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,69},{121,102}}</string>
                <key>sourceSize</key>
                <string>{159,184}</string>
            </dict>
            <key>expression_3-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,127},{121,102}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,69},{121,102}}</string>
                <key>sourceSize</key>
                <string>{159,184}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_3.png</string>
            <key>size</key>
            <string>{556,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:459f3038a4fb218e7e56c95a21232dca:1/1$</string>
            <key>textureFileName</key>
            <string>expression_3.png</string>
        </dict>
    </dict>
</plist>
