<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>expression_2-0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{94,96}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{94,96}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,360},{86,100}}</string>
                <key>offset</key>
                <string>{-44,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,100}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{132,100}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{132,100}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,100}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,100}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{120,94}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{120,94}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{120,118}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{120,118}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{142,142}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{132,100}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{132,100}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,100}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,100}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{120,94}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{120,94}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,258},{120,100}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{120,100}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,530},{74,48}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,44},{74,48}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{98,94}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,16},{98,94}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,480},{74,48}}</string>
                <key>offset</key>
                <string>{29,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,43},{74,48}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,480},{78,46}}</string>
                <key>offset</key>
                <string>{31,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,44},{78,46}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,464},{96,30}}</string>
                <key>offset</key>
                <string>{30,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,52},{96,30}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,448},{94,30}}</string>
                <key>offset</key>
                <string>{30,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,52},{94,30}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{120,118}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{120,118}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{142,142}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{132,100}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{132,100}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,100}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,100}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{120,94}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{120,94}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{120,118}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{120,118}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
            <key>expression_2-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{142,142}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{174,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>expression_2.png</string>
            <key>size</key>
            <string>{254,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c636549a5d2c68d6ef85071b7b784b2d:1/1$</string>
            <key>textureFileName</key>
            <string>expression_2.png</string>
        </dict>
    </dict>
</plist>
