<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat/bg_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1630},{213,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,76}}</string>
                <key>sourceSize</key>
                <string>{213,76}</string>
            </dict>
            <key>chat/btn_bg_lower_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1552},{69,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,264}}</string>
                <key>sourceSize</key>
                <string>{69,264}</string>
            </dict>
            <key>chat/btn_bg_lower_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1552},{69,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,264}}</string>
                <key>sourceSize</key>
                <string>{69,264}</string>
            </dict>
            <key>chat/btn_bg_upper_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1240},{69,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,264}}</string>
                <key>sourceSize</key>
                <string>{69,264}</string>
            </dict>
            <key>chat/btn_bg_upper_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1118},{69,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,264}}</string>
                <key>sourceSize</key>
                <string>{69,264}</string>
            </dict>
            <key>chat/btn_chat_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,447},{48,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,145}}</string>
                <key>sourceSize</key>
                <string>{48,145}</string>
            </dict>
            <key>chat/btn_chat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1262},{40,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,136}}</string>
                <key>sourceSize</key>
                <string>{40,136}</string>
            </dict>
            <key>chat/btn_emoji_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,294},{48,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,151}}</string>
                <key>sourceSize</key>
                <string>{48,151}</string>
            </dict>
            <key>chat/btn_emoji_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1118},{40,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,142}}</string>
                <key>sourceSize</key>
                <string>{40,142}</string>
            </dict>
            <key>chat/btn_fangy_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,148},{52,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,144}}</string>
                <key>sourceSize</key>
                <string>{52,144}</string>
            </dict>
            <key>chat/btn_fangy_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1506},{44,134}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,134}}</string>
                <key>sourceSize</key>
                <string>{52,144}</string>
            </dict>
            <key>chat/btn_hanhua_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{52,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,144}}</string>
                <key>sourceSize</key>
                <string>{52,144}</string>
            </dict>
            <key>chat/btn_hanhua_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1104},{44,134}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{44,134}}</string>
                <key>sourceSize</key>
                <string>{52,144}</string>
            </dict>
            <key>chat/btn_talk_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{510,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,68}}</string>
                <key>sourceSize</key>
                <string>{510,68}</string>
            </dict>
            <key>chat/btn_talk_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,594},{508,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,66}}</string>
                <key>sourceSize</key>
                <string>{508,66}</string>
            </dict>
            <key>chat/img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{556,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,190}}</string>
                <key>sourceSize</key>
                <string>{556,190}</string>
            </dict>
            <key>chat/img_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{556,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,184}}</string>
                <key>sourceSize</key>
                <string>{556,184}</string>
            </dict>
            <key>chat/img_chat_slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{10,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,1}}</string>
                <key>sourceSize</key>
                <string>{10,1}</string>
            </dict>
            <key>chat/img_emoji_slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{10,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,2}}</string>
                <key>sourceSize</key>
                <string>{10,2}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{256,1845}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c827faa9e4a8b380b8809bdafbd8263:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
