<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gg_game_s9/common/dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,22},{31,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,102}}</string>
                <key>sourceSize</key>
                <string>{31,102}</string>
            </dict>
            <key>gg_game_s9/common/dialog_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,94},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>gg_game_s9/common/dialog_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,22},{110,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>gg_game_s9/common/dialog_bg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,94},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>gg_game_s9/friend/gps_playerhead_mj.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,58},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gg_game_s9/friend/gps_playerhead_mj_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,22},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gg_game_s9/friend/rule_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,115}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>gg_game_s9/friend/rule_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,22},{110,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{112,104}</string>
            </dict>
            <key>gg_game_s9/option/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{587,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,18}}</string>
                <key>sourceSize</key>
                <string>{587,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gg_game_s9.png</string>
            <key>size</key>
            <string>{707,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:931a2b3d2a8a4ea61d5453fca2dd4cc3:1/1$</string>
            <key>textureFileName</key>
            <string>gg_game_s9.png</string>
        </dict>
    </dict>
</plist>
