<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gg_game_res/chest/com_pic_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,835},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>gg_game_res/common/btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1099},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>gg_game_res/common/btn_green_short.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,312},{220,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,65}}</string>
                <key>sourceSize</key>
                <string>{220,65}</string>
            </dict>
            <key>gg_game_res/common/btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,90},{220,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,65}}</string>
                <key>sourceSize</key>
                <string>{220,65}</string>
            </dict>
            <key>gg_game_res/common/line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{712,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{712,1}}</string>
                <key>sourceSize</key>
                <string>{712,1}</string>
            </dict>
            <key>gg_game_res/common/text_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,936},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>gg_game_res/common/text_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{148,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,41}}</string>
                <key>sourceSize</key>
                <string>{148,41}</string>
            </dict>
            <key>gg_game_res/common/text_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,2},{85,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,40}}</string>
                <key>sourceSize</key>
                <string>{85,40}</string>
            </dict>
            <key>gg_game_res/common/upinfo_battery_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,921},{39,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,18}}</string>
                <key>sourceSize</key>
                <string>{39,18}</string>
            </dict>
            <key>gg_game_res/common/upinfo_battery_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,734},{29,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,10}}</string>
                <key>sourceSize</key>
                <string>{29,10}</string>
            </dict>
            <key>gg_game_res/dissolution/jujue.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,458},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,86}</string>
            </dict>
            <key>gg_game_res/dissolution/line.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,54},{50,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,1}}</string>
                <key>sourceSize</key>
                <string>{50,1}</string>
            </dict>
            <key>gg_game_res/dissolution/line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{50,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,1}}</string>
                <key>sourceSize</key>
                <string>{50,1}</string>
            </dict>
            <key>gg_game_res/dissolution/tongyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,458},{236,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,86}}</string>
                <key>sourceSize</key>
                <string>{236,86}</string>
            </dict>
            <key>gg_game_res/dissolution/touxiang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,862},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gg_game_res/dissolution/touxiang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>gg_game_res/dissolution/txk.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,884},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/dissolution/xk.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,264},{174,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{174,192}}</string>
                <key>sourceSize</key>
                <string>{176,194}</string>
            </dict>
            <key>gg_game_res/emoji/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,792},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,986},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,858},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,796},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,858},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1048},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,983},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1049},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1049},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,986},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,983},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,924},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,921},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/emoji/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1064},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>gg_game_res/friend/arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,779},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>gg_game_res/friend/bg_warn.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,746},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>gg_game_res/friend/bg_warn_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,836},{98,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,87}}</string>
                <key>sourceSize</key>
                <string>{98,87}</string>
            </dict>
            <key>gg_game_res/friend/btn_pyc_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,550},{176,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,86}}</string>
                <key>sourceSize</key>
                <string>{176,86}</string>
            </dict>
            <key>gg_game_res/friend/ico_warning.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,830},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>gg_game_res/friend/ico_warning2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1063},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>gg_game_res/friend/ico_warning2_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,686},{41,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>gg_game_res/friend/ico_warning_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,794},{31,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{31,34}}</string>
                <key>sourceSize</key>
                <string>{41,34}</string>
            </dict>
            <key>gg_game_res/friend/info_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>gg_game_res/friend/line.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,54},{50,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,1}}</string>
                <key>sourceSize</key>
                <string>{50,1}</string>
            </dict>
            <key>gg_game_res/friend/offline/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1098},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1151},{13,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,24}}</string>
                <key>sourceSize</key>
                <string>{13,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1127},{18,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1129},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1130},{19,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,24}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,916},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1129},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1126},{17,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1064},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1099},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/_.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1157},{9,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{9,18}}</string>
                <key>sourceSize</key>
                <string>{9,26}</string>
            </dict>
            <key>gg_game_res/friend/offline/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,715},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>gg_game_res/friend/pic_fxhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,177},{348,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,85}}</string>
                <key>sourceSize</key>
                <string>{348,85}</string>
            </dict>
            <key>gg_game_res/friend/pic_fxpyq.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,90},{348,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,85}}</string>
                <key>sourceSize</key>
                <string>{348,85}</string>
            </dict>
            <key>gg_game_res/friend/pic_pyc_kj.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,320},{228,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,76}}</string>
                <key>sourceSize</key>
                <string>{228,76}</string>
            </dict>
            <key>gg_game_res/friend/pic_pyc_yqhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{372,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,86}}</string>
                <key>sourceSize</key>
                <string>{372,86}</string>
            </dict>
            <key>gg_game_res/friend/pic_pyc_zbyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,90},{228,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,76}}</string>
                <key>sourceSize</key>
                <string>{228,76}</string>
            </dict>
            <key>gg_game_res/friend/pic_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,501},{212,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,80}}</string>
                <key>sourceSize</key>
                <string>{212,80}</string>
            </dict>
            <key>gg_game_res/friend/pic_youqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,501},{212,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,84}}</string>
                <key>sourceSize</key>
                <string>{212,84}</string>
            </dict>
            <key>gg_game_res/friend/pic_yqhy.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,264},{235,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,85}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>gg_game_res/friend/pic_zjtji.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,264},{235,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,85}}</string>
                <key>sourceSize</key>
                <string>{235,85}</string>
            </dict>
            <key>gg_game_res/game_table/btn_free_dou.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,978},{84,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{84,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gg_game_res/game_table/btn_mfld.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,796},{86,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,67}}</string>
                <key>sourceSize</key>
                <string>{86,67}</string>
            </dict>
            <key>gg_game_res/game_table/btn_psq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{80,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{80,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>gg_game_res/game_table/btn_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,728},{86,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,66}</string>
            </dict>
            <key>gg_game_res/infobar/battery.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,962},{38,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,19}}</string>
                <key>sourceSize</key>
                <string>{38,19}</string>
            </dict>
            <key>gg_game_res/infobar/battery_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,866},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>gg_game_res/infobar/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,922},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>gg_game_res/num_common/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1019},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>gg_game_res/num_common/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,715},{17,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{17,40}}</string>
                <key>sourceSize</key>
                <string>{17,42}</string>
            </dict>
            <key>gg_game_res/num_common/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,922},{29,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{29,42}</string>
            </dict>
            <key>gg_game_res/num_common/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1086},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>gg_game_res/num_common/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,975},{32,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,42}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>gg_game_res/num_common/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1054},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>gg_game_res/num_common/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1010},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>gg_game_res/num_common/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,686},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,40}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>gg_game_res/num_common/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,966},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>gg_game_res/num_common/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,950},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,42}}</string>
                <key>sourceSize</key>
                <string>{30,42}</string>
            </dict>
            <key>gg_game_res/replay/bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,796},{14,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,6}}</string>
                <key>sourceSize</key>
                <string>{14,6}</string>
            </dict>
            <key>gg_game_res/replay/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1130},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gg_game_res/replay/btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1108},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>gg_game_res/replay/btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1130},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{36,36}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>gg_game_res/replay/btn_control.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,794},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>gg_game_res/replay/btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1048},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,58}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>gg_game_res/replay/btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,715},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>gg_game_res/replay/btn_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1112},{44,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{62,56}</string>
            </dict>
            <key>gg_game_res/replay/num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,696},{162,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,48}}</string>
                <key>sourceSize</key>
                <string>{162,48}</string>
            </dict>
            <key>gg_game_res/replay/pic_lxhf.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,534},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{150,66}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>gg_game_res/replay/select_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,944},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>gg_game_res/result_broke.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{107,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,88}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>gg_game_res/tips_fzbpdz_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,980},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>gg_game_res/tips_fzbpdz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,922},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>gg_game_res/tips_fzbpdz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1115},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>gg_game_res/tips_fzbpdz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1115},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>gg_game_res/tips_fzbpdz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1115},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>gg_game_res/tips_fzbpdz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1033},{44,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>gg_game_res/tips_fzbpdz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,779},{12,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,15}}</string>
                <key>sourceSize</key>
                <string>{12,15}</string>
            </dict>
            <key>gg_game_res/trust.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,728},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gg_game_res.png</string>
            <key>size</key>
            <string>{512,1168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46fd0192f0d94e0579887d3bc6551857:1/1$</string>
            <key>textureFileName</key>
            <string>gg_game_res.png</string>
        </dict>
    </dict>
</plist>
