<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>quinella_effect/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{101,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,126}}</string>
                <key>sourceSize</key>
                <string>{101,126}</string>
            </dict>
            <key>quinella_effect/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{67,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,126}}</string>
                <key>sourceSize</key>
                <string>{67,126}</string>
            </dict>
            <key>quinella_effect/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,105},{100,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{100,126}</string>
            </dict>
            <key>quinella_effect/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,108},{97,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,126}}</string>
                <key>sourceSize</key>
                <string>{97,126}</string>
            </dict>
            <key>quinella_effect/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,104},{100,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{100,126}</string>
            </dict>
            <key>quinella_effect/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{104,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{104,126}</string>
            </dict>
            <key>quinella_effect/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,128},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>quinella_effect/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{100,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,126}}</string>
                <key>sourceSize</key>
                <string>{100,126}</string>
            </dict>
            <key>quinella_effect/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,128},{98,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{98,126}</string>
            </dict>
            <key>quinella_effect/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,128},{96,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,126}}</string>
                <key>sourceSize</key>
                <string>{96,126}</string>
            </dict>
            <key>quinella_effect/bg_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,54}}</string>
                <key>sourceSize</key>
                <string>{471,54}</string>
            </dict>
            <key>quinella_effect/hengglow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{401,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,104}}</string>
                <key>sourceSize</key>
                <string>{401,104}</string>
            </dict>
            <key>quinella_effect/icon_bean.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,58},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>quinella_effect/l.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,2},{227,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,124}}</string>
                <key>sourceSize</key>
                <string>{227,124}</string>
            </dict>
            <key>quinella_effect/lianshengxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,164},{86,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,79}}</string>
                <key>sourceSize</key>
                <string>{90,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quinella_effect.png</string>
            <key>size</key>
            <string>{1088,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c0096f52b4b7f4939cc271f37123e1:1/1$</string>
            <key>textureFileName</key>
            <string>quinella_effect.png</string>
        </dict>
    </dict>
</plist>
