<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yyy_res/bg_pop.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,412},{113,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,82}}</string>
                <key>sourceSize</key>
                <string>{113,82}</string>
            </dict>
            <key>yyy_res/btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,270},{220,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,65}}</string>
                <key>sourceSize</key>
                <string>{220,65}</string>
            </dict>
            <key>yyy_res/effect_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{248,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,117}}</string>
                <key>sourceSize</key>
                <string>{248,117}</string>
            </dict>
            <key>yyy_res/effect_free.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,252},{177,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,102}}</string>
                <key>sourceSize</key>
                <string>{177,102}</string>
            </dict>
            <key>yyy_res/img_chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{483,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,286}}</string>
                <key>sourceSize</key>
                <string>{483,286}</string>
            </dict>
            <key>yyy_res/jiabeieffect00.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,431},{76,74}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,54},{76,74}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>yyy_res/jiabeieffect01.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,270},{184,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,34},{184,124}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>yyy_res/jiabeieffect02.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,266},{242,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{242,160}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>yyy_res/jiabeieffect03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{266,170}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{266,170}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>yyy_res/jiabeieffect04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{262,170}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{262,170}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>yyy_res/jiabeieffect05.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,2},{130,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,15},{130,164}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>yyy_res/jiabeieffect06.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,282},{130,128}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{130,128}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>yyy_res/jiabeieffect07.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,134},{146,146}}</string>
                <key>offset</key>
                <string>{-16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{146,146}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
            <key>yyy_res/jiabeieffect08.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,456},{32,54}}</string>
                <key>offset</key>
                <string>{44,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,71},{32,54}}</string>
                <key>sourceSize</key>
                <string>{280,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yyy_res.png</string>
            <key>size</key>
            <string>{919,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:957de9376329ccda865313515ee373f4:1/1$</string>
            <key>textureFileName</key>
            <string>yyy_res.png</string>
        </dict>
    </dict>
</plist>
