<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mjas/btn_hp_13y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,108}</string>
                <key>spriteSourceSize</key>
                <string>{258,108}</string>
                <key>textureRect</key>
                <string>{{13,477},{258,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/effect_higlight_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,156}</string>
                <key>spriteSourceSize</key>
                <string>{118,156}</string>
                <key>textureRect</key>
                <string>{{123,691},{118,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mjas/effect_higlight_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{216,216}</string>
                <key>textureRect</key>
                <string>{{13,1},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mjas/end_tip_bm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{68,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,38}</string>
                <key>textureRect</key>
                <string>{{161,311},{68,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/end_tip_bmp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,38}</string>
                <key>textureRect</key>
                <string>{{161,219},{90,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/end_tip_dp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,38}</string>
                <key>textureRect</key>
                <string>{{199,849},{70,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/end_tip_fd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,38}</string>
                <key>textureRect</key>
                <string>{{77,737},{70,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/end_tip_ll.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{86,34}</string>
                <key>textureRect</key>
                <string>{{195,219},{62,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/end_tip_zj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{70,32}</string>
                <key>spriteSourceSize</key>
                <string>{96,38}</string>
                <key>textureRect</key>
                <string>{{156,1069},{70,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/info_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,62}</string>
                <key>spriteSourceSize</key>
                <string>{290,62}</string>
                <key>textureRect</key>
                <string>{{13,737},{290,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/info_effect_qiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,133}</string>
                <key>spriteSourceSize</key>
                <string>{141,133}</string>
                <key>textureRect</key>
                <string>{{13,1069},{141,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mjas/info_hp_piaohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,118}</string>
                <key>spriteSourceSize</key>
                <string>{212,118}</string>
                <key>textureRect</key>
                <string>{{123,477},{212,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/info_hp_qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,120}</string>
                <key>spriteSourceSize</key>
                <string>{218,120}</string>
                <key>textureRect</key>
                <string>{{77,849},{218,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/info_pic_qiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{199,921},{37,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/info_sq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{256,146}</string>
                <key>spriteSourceSize</key>
                <string>{264,148}</string>
                <key>textureRect</key>
                <string>{{13,219},{256,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/player_shao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{38,54}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{13,1029},{38,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mjas/player_shao_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,30}</string>
                <key>spriteSourceSize</key>
                <string>{31,30}</string>
                <key>textureRect</key>
                <string>{{77,809},{31,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mjas/tips_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1082,10}</string>
                <key>spriteSourceSize</key>
                <string>{1082,10}</string>
                <key>textureRect</key>
                <string>{{1,1},{1082,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mjas.png</string>
            <key>size</key>
            <string>{242,1203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0dea228e2f70d7afd572d46c3fa887d:9385b338dd712e7e166119bc1de0a701:c4cca91da1ad9e65451fb9e18e98ff4f$</string>
            <key>textureFileName</key>
            <string>mjas.png</string>
        </dict>
    </dict>
</plist>
